@using DotaDb.Models
@using DotaDb.Data
@inject AppStateService AppStateService

<hr />
<h3 class="mt-2">Abilities</h3>
<div class="abilities">
    @foreach (var ability in Hero.Abilities)
    {
        <div class="card my-2">
            <div class="card-body">
                <div class="media" style="margin-bottom: 10px">
                    <img class="mr-3 shadow" src="@ability.AvatarImagePath" width="80" height="80" onerror="this.onerror=null;this.src='/images/missing_ability.png';" />
                    <div class="media-body">
                        <h4 class="mt-0">
                            @ability.Name
                            @if (ability.AbilityType != null)
                            {
                                <span class="badge badge-primary">@ability.AbilityType</span>
                            }
                        </h4>
                        <p class="text-muted">@ability.Description</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    @{ string unknownText = "N/A"; }
                    <div class="col-sm-6">
                        <table class="table table-sm table-borderless">
                            <tbody style="table-layout: fixed">
                                <tr>
                                    <td class="text-muted table-column-ability-name">ID</td>
                                    <td>@ability.Id</td>
                                </tr>
                                <HeroAbilityDetail DetailName="Behaviors" Details="@ability.Behaviors" ColumnClass="table-column-ability-name" />
                                <HeroAbilityDetail DetailName="Target Types" Details="@ability.TargetTypes" ColumnClass="table-column-ability-name" />
                                <HeroAbilityDetail DetailName="Target Flags" Details="@ability.TargetFlags" ColumnClass="table-column-ability-name" />
                                <HeroAbilityDetail DetailName="Team Targets" Details="@ability.TeamTargets" ColumnClass="table-column-ability-name" />
                                <HeroAbilityDetail DetailName="Cast Point" Details="@ability.CastPoint" ColumnClass="table-column-ability-name" />
                                <HeroAbilityDetail DetailName="Cast Range" Details="@ability.CastRange" ColumnClass="table-column-ability-name" />
                                <HeroAbilityDetail DetailName="Cooldown" Details="@ability.Cooldown" ColumnClass="table-column-ability-name" />
                                <HeroAbilityDetail DetailName="Damage" Details="@ability.Damage" ColumnClass="table-column-ability-name" />
                                @if (ability.DamageType != null)
                                {
                                    <tr>
                                        <td class="text-uppercase text-muted table-column-ability-name">Damage Types</td>
                                        <td>
                                            @if (ability.DamageType.Key == Steam.Models.DOTA2.DotaDamageType.PHYSICAL.Key)
                                            {
                                                <span class="text-primary"><strong>@ability.DamageType</strong></span>
                                            }
                                            else if (ability.DamageType.Key == Steam.Models.DOTA2.DotaDamageType.MAGICAL.Key)
                                            {
                                                <span class="text-info"><strong>@ability.DamageType</strong></span>
                                            }
                                            else if (ability.DamageType.Key == Steam.Models.DOTA2.DotaDamageType.PURE.Key)
                                            {
                                                <span class="text-success"><strong>@ability.DamageType</strong></span>
                                            }
                                        </td>
                                    </tr>
                                }
                                <HeroAbilityDetail DetailName="Duration" Details="@ability.Duration" ColumnClass="table-column-ability-name" />
                                <HeroAbilityDetail DetailName="Mana Cost" Details="@ability.ManaCost" ColumnClass="table-column-ability-name" />

                                @if (ability.SpellImmunityType != null)
                                {
                                    <tr>
                                        <td class="text-uppercase text-muted table-column-ability-name">Spell Immunity Types</td>
                                        <td>
                                            @if (ability.SpellImmunityType.Key == Steam.Models.DOTA2.DotaSpellImmunityType.ALLIES_YES.Key || ability.SpellImmunityType.Key == Steam.Models.DOTA2.DotaSpellImmunityType.ENEMIES_YES.Key)
                                            {
                                                <span class="text-success">
                                                    <i class="fas fa-check"></i>
                                                    <strong>@ability.SpellImmunityType</strong>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">
                                                    <i class="fas fa-times"></i>
                                                    <strong>@ability.SpellImmunityType</strong>
                                                </span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-sm table-borderless">
                            <tbody style="table-layout: fixed">
                                @foreach (var abilitySpecial in ability.Attributes)
                                {
                                    @if (!String.IsNullOrWhiteSpace(abilitySpecial.Name))
                                    {
                                        <HeroAbilityDetail DetailName="@abilitySpecial.Name"
                                                           Details="@abilitySpecial.Value"
                                                           ColumnClass="table-column-ability-special-name" />
                                    }
                                    else
                                    {
                                        <HeroAbilityDetail DetailName="@String.Format("{0}:", abilitySpecial.RawName.Replace("_", " "))"
                                                           Details="@abilitySpecial.Value"
                                                           ColumnClass="table-column-ability-special-name" />

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-sm" style="table-layout: fixed">
                            <tbody>
                                @foreach (var note in ability.Notes)
                                {
                                    <HeroAbilityNote Note="@note" />
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public HeroViewModel Hero { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AppStateService.HeaderText = Hero.Name;
        }
    }
}
