@page "/"
@using DotaDb.Data
@using DotaDb.Models
@using Steam.Models.DOTA2
@using AutoMapper 
@inject BlogFeedService BlogFeedService
@inject PlayerCountService PlayerCountService
@inject LiveLeagueGamesService LiveLeagueGamesService
@inject HeroService HeroService 
@inject IMapper Mapper 

<div class="container-fluid p-0">
    <div style="background: url('/images/DireAncientBackground.jpg') no-repeat scroll center center / cover;">
        <div class="full-screen-bg-tint">
            <div class="row text-center home-stats no-gutters justify-content-center" style="padding: 30px">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>@playerCounts.InGamePlayerCount.ToString("N0")</h2>
                            <p class="text-muted text-uppercase">
                                In Game Now
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2>@playerCounts.DailyPeakPlayerCount.ToString("N0")</h2>
                            <p class="text-muted text-uppercase">Peak Players Today</p>
                        </div>
                        <div class="col-md-4">
                            <h2>@playerCounts.AllTimePeakPlayerCount.ToString("N0")</h2>
                            <p class="text-muted text-uppercase">All-time Peak Players</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h2>@heroCount</h2>
                            <p class="text-muted text-uppercase">
                                <a href="">Heroes</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2>@inGameItemCount</h2>
                            <p class="text-muted text-uppercase">
                                <a href="">In Game Items</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2>@itemCount</h2>
                            <p class="text-muted text-uppercase">
                                <a href="">Cosmetic &amp; Shop Items</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="text-uppercase">@leagueCount</h2>
                            <p class="text-muted text-uppercase">
                                <a href="">Leagues</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2>@heroAbilityCount</h2>
                            <p class="text-muted text-uppercase">
                                <a href="">Hero Abilities</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2 class="text-uppercase">@liveLeagueGameCount</h2>
                            <p class="text-muted text-uppercase">
                                <a href="">Live League Games</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            @foreach (var dotaBlogFeedItem in dotaBlogFeedItems)
            {
                <div class="card mb-3">
                    <h5 class="card-header">@dotaBlogFeedItem.Title</h5>
                    <div style="height: 200px; overflow: hidden;">
                        <a href="@dotaBlogFeedItem.Link" target="_blank"><img class="card-img-top" src="@dotaBlogFeedItem.ImageUrl" style="margin: -100px 0px"></a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@dotaBlogFeedItem.Description</p>
                        <p class="card-text"><small class="text-muted">@dotaBlogFeedItem.PublishDate.ToString("MMMM d, yyyy")</small></p>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            @if (topLiveLeagueGame != null)
            {
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h2 style="margin: 0; font-weight: 100; color: #333">Top Live Game</h2>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <NavLink href=@($"/matches/live/{topLiveLeagueGame.MatchId}") class="btn btn-sm btn-primary" style="margin-bottom: 5px">See game details</NavLink>
                        </div>
                        <div class="text-center">
                            <h3 style="margin-bottom: 0; font-weight: 100; color: #333">@topLiveLeagueGame.RadiantTeamName</h3>
                            <h4 style="margin: 0" class="text-uppercase">
                                @topLiveLeagueGame.RadiantKillCount <small>kills</small>
                                @if (topLiveLeagueGame.RadiantKillCount > topLiveLeagueGame.DireKillCount)
                                {
                                    <i class="fa fa-star text-warning"></i>
                                }
                            </h4>
                            <h4>&#8212; vs &#8212;</h4>
                            <h3 style="margin: 0; font-weight: 100; color: #333">@topLiveLeagueGame.DireTeamName</h3>
                            <h4 style="margin: 0" class="text-uppercase">
                                @topLiveLeagueGame.DireKillCount <small>kills</small>
                                @if (topLiveLeagueGame.DireKillCount > topLiveLeagueGame.RadiantKillCount)
                                {
                                    <i class="fa fa-star text-warning"></i>
                                }
                            </h4>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fa fa-desktop fa-fw"></i>
                                <span class="text-muted text-uppercase">Spec:</span>
                                @topLiveLeagueGame.SpectatorCount.ToString("N0")
                                <br />
                                <i class="fa fa-clock-o fa-fw"></i>
                                <span class="text-muted text-uppercase">Time:</span>
                                @topLiveLeagueGame.ElapsedTime
                            </div>
                            <div class="col-md-6 text-right">
                                <i class="fa fa-ticket fa-fw"></i>
                                <span class="text-muted text-uppercase">Game:</span>
                                @topLiveLeagueGame.GameNumber
                                <br />
                                <i class="fa fa-trophy fa-fw"></i>
                                <span class="text-muted text-uppercase">Series:</span>
                                @String.Format("{0} - {1}", topLiveLeagueGame.RadiantSeriesWins, topLiveLeagueGame.DireSeriesWins)
                                <br />
                                <i class="fa fa-list-alt fa-fw"></i>
                                <span class="text-muted text-uppercase">Best of:</span>
                                @topLiveLeagueGame.BestOf
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center text-uppercase">
                        <a href="/matches">See all live games</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private int heroCount;
    private int inGameItemCount;
    private int itemCount;
    private int leagueCount;
    private int heroAbilityCount;
    private int liveLeagueGameCount;
    private IEnumerable<DotaBlogFeedItem> dotaBlogFeedItems = new List<DotaBlogFeedItem>();
    private Models.PlayerCountModel playerCounts = new Models.PlayerCountModel();
    private LiveLeagueGameOverviewViewModel topLiveLeagueGame = new LiveLeagueGameOverviewViewModel();
    private HeroViewModel randomHero = new HeroViewModel();

    protected override async Task OnInitializedAsync()
    {
        playerCounts = await PlayerCountService.GetPlayerCountsFromScrapingAsync();
        dotaBlogFeedItems = await BlogFeedService.GetDotaBlogFeedItemsAsync();
        topLiveLeagueGame = await LiveLeagueGamesService.GetTopLiveLeagueGameAsync();

        var heroes = await HeroService.GetHeroDetailsAsync();
        Random r = new Random();
        int index = r.Next(0, heroes.Count);
        var hero = heroes.ElementAt(index).Value;
        randomHero = Mapper.Map<HeroDetailModel, HeroViewModel>(hero);
    }
}