@page "/"
@using DotaDb.Data
@using DotaDb.Models
@using Steam.Models.DOTA2
@using AutoMapper
@inject BlogFeedService BlogFeedService
@inject PlayerCountService PlayerCountService
@inject LiveLeagueGamesService LiveLeagueGamesService
@inject HeroService HeroService
@inject AppStateService AppStateService
@inject IMapper Mapper
@inject SharedService SharedService

<div class="container-fluid p-0">
    <div style="background: url('/images/DireAncientBackground.jpg') no-repeat scroll center center / cover;">
        <div class="full-screen-bg-tint">
            <div class="row text-center home-stats no-gutters justify-content-center" style="padding: 30px">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>@playerCounts.InGamePlayerCount.ToString("N0")</h2>
                            <p class="text-muted text-uppercase">
                                In Game Now
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2>@playerCounts.DailyPeakPlayerCount.ToString("N0")</h2>
                            <p class="text-muted text-uppercase">Peak Players Today</p>
                        </div>
                        <div class="col-md-4">
                            <h2>@playerCounts.AllTimePeakPlayerCount.ToString("N0")</h2>
                            <p class="text-muted text-uppercase">All-time Peak Players</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h2>@heroCount</h2>
                            <p class="text-muted text-uppercase">
                                <a href="">Heroes</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2>@inGameItemCount</h2>
                            <p class="text-muted text-uppercase">
                                <a href="">In Game Items</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2>@itemCount</h2>
                            <p class="text-muted text-uppercase">
                                <a href="">Cosmetic &amp; Shop Items</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="text-uppercase">@leagueCount</h2>
                            <p class="text-muted text-uppercase">
                                <a href="">Leagues</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2>@heroAbilityCount</h2>
                            <p class="text-muted text-uppercase">
                                <a href="">Hero Abilities</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2 class="text-uppercase">@liveLeagueGameCount</h2>
                            <p class="text-muted text-uppercase">
                                <a href="">Live League Games</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            @foreach (var dotaBlogFeedItem in dotaBlogFeedItems)
            {
                <div class="card mb-3">
                    <h5 class="card-header">@dotaBlogFeedItem.Title</h5>
                    <div style="height: 200px; overflow: hidden;">
                        <a href="@dotaBlogFeedItem.Link" target="_blank"><img class="card-img-top" src="@dotaBlogFeedItem.ImageUrl" style="margin: -100px 0px"></a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@dotaBlogFeedItem.Description</p>
                        <p class="card-text"><small class="text-muted">@dotaBlogFeedItem.PublishDate.ToString("MMMM d, yyyy")</small></p>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            @if (topLiveLeagueGame != null)
            {
                <div class="card">
                    <div class="card-header text-center">
                        <h4 style="margin: 0; font-weight: 100; color: #333">Top Live Game</h4>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <NavLink href=@($"/matches/live/{topLiveLeagueGame.MatchId}") class="btn btn-sm btn-primary" style="margin-bottom: 5px">See game details</NavLink>
                        </div>
                        <div class="text-center">
                            <h3 style="margin-bottom: 0; font-weight: 100; color: #333">@topLiveLeagueGame.RadiantTeamName</h3>
                            <h4 style="margin: 0" class="text-uppercase">
                                @topLiveLeagueGame.RadiantKillCount <small>kills</small>
                                @if (topLiveLeagueGame.RadiantKillCount > topLiveLeagueGame.DireKillCount)
                                {
                                    <i class="fas fa-star text-warning"></i>
                                }
                            </h4>
                            <h4>&#8212; vs &#8212;</h4>
                            <h3 style="margin: 0; font-weight: 100; color: #333">@topLiveLeagueGame.DireTeamName</h3>
                            <h4 style="margin: 0" class="text-uppercase">
                                @topLiveLeagueGame.DireKillCount <small>kills</small>
                                @if (topLiveLeagueGame.DireKillCount > topLiveLeagueGame.RadiantKillCount)
                                {
                                    <i class="fas fa-star text-warning"></i>
                                }
                            </h4>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fas fa-desktop fa-fw"></i>
                                <span class="text-muted text-uppercase">Spec:</span>
                                @topLiveLeagueGame.SpectatorCount.ToString("N0")
                                <br />
                                <i class="far fa-clock fa-fw"></i>
                                <span class="text-muted text-uppercase">Time:</span>
                                @topLiveLeagueGame.ElapsedTime
                            </div>
                            <div class="col-md-6 text-right">
                                <i class="fas fa-ticket-alt fa-fw"></i>
                                <span class="text-muted text-uppercase">Game:</span>
                                @topLiveLeagueGame.GameNumber
                                <br />
                                <i class="fas fa-trophy fa-fw"></i>
                                <span class="text-muted text-uppercase">Series:</span>
                                @String.Format("{0} - {1}", topLiveLeagueGame.RadiantSeriesWins, topLiveLeagueGame.DireSeriesWins)
                                <br />
                                <i class="fas fa-list fa-fw"></i>
                                <span class="text-muted text-uppercase">Best of:</span>
                                @topLiveLeagueGame.BestOf
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center text-uppercase">
                        <a href="/matches">See all live games</a>
                    </div>
                </div>
            }
            @if (randomHero != null)
            {
                <div class="card mt-3">
                    <div class="card-header text-center">
                        <h4 style="margin: 0; font-weight: 100; color: #333">@randomHero.Name</h4>
                    </div>
                    <div class="card-body">
                        <a href="/hero/@randomHero.Id">
                            <img class="shadow mx-auto d-block" src="@randomHero.AvatarImagePath" />
                        </a>
                        <table class="table table-striped table-sm" style="margin-top: 15px; margin-bottom: 0">
                            <tbody class="text-center text-uppercase">
                                <tr>
                                    <td>
                                        @if (randomHero.PrimaryAttribute == DotaHeroPrimaryAttributeType.STRENGTH)
                                        {
                                            <img src="/images/icon_str.png" width="36" height="36" />
                                        }
                                        else
                                        {
                                            <img src="/images/icon_str_faded.png" width="36" height="36" />
                                        }
                                    </td>
                                    <td>
                                        @if (randomHero.PrimaryAttribute == DotaHeroPrimaryAttributeType.AGILITY)
                                        {
                                            <img src="/images/icon_agi.png" width="36" height="36" />
                                        }
                                        else
                                        {
                                            <img src="/images/icon_agi_faded.png" width="36" height="36" />
                                        }
                                    </td>
                                    <td>
                                        @if (randomHero.PrimaryAttribute == DotaHeroPrimaryAttributeType.INTELLECT)
                                        {
                                            <img src="/images/icon_int.png" width="36" height="36" />
                                        }
                                        else
                                        {
                                            <img src="/images/icon_int_faded.png" width="36" height="36" />
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>@randomHero.BaseStrength</strong> <small class="text-muted">(+@randomHero.StrengthGain.ToString("F"))</small>
                                    </td>
                                    <td>
                                        <strong>@randomHero.BaseAgility</strong> <small class="text-muted">(+@randomHero.AgilityGain.ToString("F"))</small>
                                    </td>
                                    <td>
                                        <strong>@randomHero.BaseIntelligence</strong> <small class="text-muted">(+@randomHero.IntelligenceGain.ToString("F"))</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="/images/icon_atk.png" height="36" />
                                    </td>
                                    <td>
                                        <img src="/images/icon_speed.png" height="36" />
                                    </td>
                                    <td>
                                        <img src="/images/icon_def.png" height="36" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>@randomHero.BaseDamageMin - @randomHero.BaseDamageMax</strong>
                                    </td>
                                    <td>
                                        <strong>@randomHero.BaseMoveSpeed</strong>
                                    </td>
                                    <td>
                                        <strong>
                                            @(randomHero.ArmorLevels.TryGetValue(0, out double value) ? Math.Round(value, 2).ToString() : "?")
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped table-sm" style="table-layout: fixed">
                            <tbody class="text-uppercase">
                                <tr>
                                    <td>
                                        <span>Hero ID</span>
                                    </td>
                                    <td>
                                        <strong>@randomHero.Id</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle">
                                        <span>Primary</span>
                                    </td>
                                    <td>
                                        @if (randomHero.PrimaryAttribute != null)
                                        {
                                            if (randomHero.PrimaryAttribute.Key == Steam.Models.DOTA2.DotaHeroPrimaryAttributeType.STRENGTH.Key)
                                            {
                                                <img alt="Strength" title="Strength" src="/images/icon_str.png" width="24" height="24" />
                                                <strong>STR</strong>
                                            }
                                            else if (randomHero.PrimaryAttribute.Key == Steam.Models.DOTA2.DotaHeroPrimaryAttributeType.AGILITY.Key)
                                            {
                                                <img alt="Agility" title="Agility" src="/images/icon_agi.png" width="24" height="24" />
                                                <strong>AGI</strong>
                                            }
                                            else if (randomHero.PrimaryAttribute.Key == Steam.Models.DOTA2.DotaHeroPrimaryAttributeType.INTELLECT.Key)
                                            {
                                                <img alt="Intelligence" title="Intelligence" src="/images/icon_int.png" width="24" height="24" />
                                                <strong>INT</strong>
                                            }
                                            else
                                            {
                                                <i class="far fa-question-circle"></i>
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Attack Type</span>
                                    </td>
                                    <td>
                                        <strong>@randomHero.AttackType</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Attack Rate</span>
                                    </td>
                                    <td>
                                        <strong>@randomHero.AttackRate.ToString("F")</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Attack Range</span>
                                    </td>
                                    <td>
                                        <strong>@randomHero.AttackRange.ToString("F")</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Turn Rate</span>
                                    </td>
                                    <td>
                                        <strong>@randomHero.TurnRate.ToString("F")</strong>
                                    </td>
                                </tr>
                                @foreach (var role in randomHero.Roles)
                                {
                                    string color = String.Empty;
                                    int percent = 0;
                                    if (role.Level == "1")
                                    {
                                        color = "progress-bar-danger";
                                        percent = 33;
                                    }
                                    else if (role.Level == "2")
                                    {
                                        color = "progress-bar-warning";
                                        percent = 66;
                                    }
                                    else if (role.Level == "3")
                                    {
                                        color = "progress-bar-success";
                                        percent = 100;
                                    }
                                    <tr>
                                        <td>
                                            @role.Name
                                        </td>
                                        <td>
                                            <div class="progress" style="margin-bottom: 0">
                                                <div class="progress-bar @color" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" style="width: @String.Format("{0}%", percent);">
                                                    @role.Level
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <h4>Talents</h4>
                        <table class="table table-striped table-sm" style="table-layout: fixed">
                            <tbody>
                                <tr>
                                    <td class="text-right">
                                        <small>@randomHero.TalentChoiceAtLevel10.HeroTalentChoice1.Name</small>
                                    </td>
                                    <td class="text-center" style="width: 20%">
                                        <span class="fa-stack fa-lg" aria-hidden="true">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fas fa-stack-1x fa-inverse">10</i>
                                        </span>
                                    </td>
                                    <td>
                                        <small>@randomHero.TalentChoiceAtLevel10.HeroTalentChoice2.Name</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        <small>@randomHero.TalentChoiceAtLevel15.HeroTalentChoice1.Name</small>
                                    </td>
                                    <td class="text-center" style="width: 20%">
                                        <span class="fa-stack fa-lg" aria-hidden="true">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fas fa-stack-1x fa-inverse">15</i>
                                        </span>
                                    </td>
                                    <td>
                                        <small>@randomHero.TalentChoiceAtLevel15.HeroTalentChoice2.Name</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        <small>@randomHero.TalentChoiceAtLevel20.HeroTalentChoice1.Name</small>
                                    </td>
                                    <td class="text-center" style="width: 20%">
                                        <span class="fa-stack fa-lg" aria-hidden="true">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fas fa-stack-1x fa-inverse">20</i>
                                        </span>
                                    </td>
                                    <td>
                                        <small>@randomHero.TalentChoiceAtLevel20.HeroTalentChoice2.Name</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        <small>@randomHero.TalentChoiceAtLevel25.HeroTalentChoice1.Name</small>
                                    </td>
                                    <td class="text-center" style="width: 20%">
                                        <span class="fa-stack fa-lg" aria-hidden="true">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fas fa-stack-1x fa-inverse">25</i>
                                        </span>
                                    </td>
                                    <td>
                                        <small>@randomHero.TalentChoiceAtLevel25.HeroTalentChoice2.Name</small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h4>Abilities</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-unstyled">
                                    @foreach (var ability in randomHero.Abilities)
                                    {
                                        <li class="media my-2">
                                            <img class="mr-2 shadow" src="@ability.AvatarImagePath" style="width: 64px" />
                                            <div class="media-body">
                                                <h5 class="mt-0">@ability.Name</h5>
                                                <span class="text-muted">@ability.Description</span>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center text-uppercase">
                        <a href="/hero/table">See All Heroes</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private int heroCount;
    private int inGameItemCount;
    private int itemCount;
    private int leagueCount;
    private int heroAbilityCount;
    private int liveLeagueGameCount;
    private IEnumerable<DotaBlogFeedItem> dotaBlogFeedItems = new List<DotaBlogFeedItem>();
    private Models.PlayerCountModel playerCounts = new Models.PlayerCountModel();
    private LiveLeagueGameOverviewViewModel topLiveLeagueGame = new LiveLeagueGameOverviewViewModel();
    private HeroViewModel randomHero = new HeroViewModel();

    protected override async Task OnInitializedAsync()
    {
        AppStateService.HeaderImageName = string.Empty;
        AppStateService.HeaderText = string.Empty;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var playerCountTask = PlayerCountService.GetPlayerCountsFromScrapingAsync();
            var blogFeedTask = BlogFeedService.GetDotaBlogFeedItemsAsync();
            var topLiveLeagueGameTask = LiveLeagueGamesService.GetTopLiveLeagueGameAsync();
            var heroTask = HeroService.GetHeroDetailsAsync();

            playerCounts = await playerCountTask;
            StateHasChanged();

            dotaBlogFeedItems = await blogFeedTask;
            StateHasChanged();

            topLiveLeagueGame = await topLiveLeagueGameTask;
            StateHasChanged();

            var heroes = await heroTask;
            Random r = new Random();
            int index = r.Next(0, heroes.Count);
            var hero = heroes.ElementAt(index).Value;
            randomHero = Mapper.Map<HeroDetail, HeroViewModel>(hero, opts => opts.Items["lookup"] = SharedService.GetCombinedLookups());

            StateHasChanged();
        }
    }
}