<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dota Database | @ViewBag.Title</title>
    <link rel="canonical" href="@Request.Url.AbsoluteUri" />
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon">
    <link rel="publisher" href="https://plus.google.com/118138310652107026987">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="&#64;DotaDatabase" />
    <meta name="twitter:title" content="@ViewBag.Title" />
    <meta name="twitter:description" content="@ViewBag.Description" />
    <meta name="twitter:image" content="@(!String.IsNullOrEmpty(ViewBag.ImageUrl) ? Url.Content(ViewBag.ImageUrl) : Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/dotadb-200x200.png"))" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Dota Database">
    <meta property="og:title" content="Home &middot; Dota Database">
    <meta property="description" content="This site was created to help visualize and understand various in game and match data related to Dota 2. This tool will frequently update its data directly from Dota 2 files and the Steam Web API to give you the most up to date information.">
    <meta property="og:description" content="This site was created to help visualize and understand various in game and match data related to Dota 2. This tool will frequently update its data directly from Dota 2 files and the Steam Web API to give you the most up to date information.">
    <meta property="og:image" content="@(Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/dotadb-200x200.png"))">
    @if (ViewBag.RefreshPageTime != null)
    {
        <meta http-equiv="refresh" content="@ViewBag.RefreshPageTime" />
    }
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-lumen.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font-awesome.min.css")
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PWPLGP"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PWPLGP');</script>
    <!-- End Google Tag Manager -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("index", "home")">
                    <img src="~/Content/dotadb-45x45.png" style="margin-top: 3px" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Heroes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("index", "heroes", new { tab = "grid" })"><i class="fa fa-th fa-fw"></i> View in Grid</a></li>
                            <li><a href="@Url.Action("index", "heroes", new { tab = "table" })"><i class="fa fa-table fa-fw"></i> View in Table</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Items <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("index", "items")"><i class="fa fa-ticket fa-fw"></i> In Game</a></li>
                            <li><a href="@Url.Action("cosmetics", "items")"><i class="fa fa-star fa-fw"></i> Cosmetic</a></li>
                            <li><a href="@Url.Action("sets", "items")"><i class="fa fa-cubes fa-fw"></i> Sets</a></li>
                            <li><a href="@Url.Action("autographs", "items")"><i class="fa fa-edit fa-fw"></i> Autographs</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("index", "matches")">Matches</a></li>
                    <li><a href="@Url.Action("index", "leagues")">Leagues</a></li>
                    <li><a href="@Url.Action("index", "map")">The Map</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    <div class="footer">
        @Html.Partial("_FooterPartial")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
