@model DotaDb.ViewModels.HomeViewModel

@{
    Layout = "~/Views/Shared/_LayoutSplash.cshtml";
    ViewBag.Title = "Home";
    ViewBag.ShowTopAlertInfo = false;
}

<div class="container-fluid" style="margin-top: 5px; padding-left: 0; padding-right: 0">
    <div style="background: url('/Content/backgrounds/DireAncientBackground.jpg') no-repeat scroll center center / cover;">
        <div class="full-screen-bg-tint">
            <div class="row text-center home-stats" style="padding: 30px">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>@Model.InGamePlayerCount.ToString("N0")</h2>
                            <p class="text-muted text-uppercase">
                                In Game Now
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2>@Model.DailyPeakPlayerCount.ToString("N0")</h2>
                            <p class="text-muted text-uppercase">Peak Players Today</p>
                        </div>
                        <div class="col-md-4">
                            <h2>@Model.AllTimePeakPlayerCount.ToString("N0")</h2>
                            <p class="text-muted text-uppercase">All-time Peak Players</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h2>@Model.HeroCount.ToString("N0")</h2>
                            <p class="text-muted text-uppercase">
                                <a href="@Url.Action("index", "heroes")">Heroes</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2>@Model.InGameItemCount.ToString("N0")</h2>
                            <p class="text-muted text-uppercase">
                                <a href="@Url.Action("index", "items")">In Game Items</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2>@Model.ShopItemCount.ToString("N0")</h2>
                            <p class="text-muted text-uppercase">
                                <a href="@Url.Action("cosmetics", "items")">Cosmetic &amp; Shop Items</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @if (Model.LeagueCount.HasValue)
                            {
                                <h2>@Model.LeagueCount.Value.ToString("N0")</h2>
                            }
                            else
                            {
                                <h2 class="text-uppercase">?</h2>
                            }
                            <p class="text-muted text-uppercase">
                                <a href="@Url.Action("index", "leagues")">Leagues</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2>@Model.HeroAbilityCount.ToString("N0")</h2>
                            <p class="text-muted text-uppercase">
                                <a href="@Url.Action("index", "heroes")">Hero Abilities</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            @if (Model.LiveLeagueGameCount.HasValue)
                            {
                                <h2>@Model.LiveLeagueGameCount.Value.ToString("N0")</h2>
                            }
                            else
                            {
                                <h2 class="text-uppercase">?</h2>
                            }
                            <p class="text-muted text-uppercase">
                                <a href="@Url.Action("index", "matches")">Live League Games</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            @foreach (var dotaBlogFeedItem in Model.DotaBlogFeedItems)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 style="margin: 0">@dotaBlogFeedItem.Title</h2>
                        <h4 style="margin: 0" class="text-muted">
                            @dotaBlogFeedItem.PublishDate.ToString("MMMM d, yyyy")
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div style="margin-left: -15px; margin-right: -15px">
                            <img class="img-responsive center-block" src="@dotaBlogFeedItem.ImageUrl" />
                        </div>
                        <div style="margin-top: 15px">
                            <p class="lead">@Html.Raw(dotaBlogFeedItem.Description)</p>
                        </div>
                    </div>
                    <div class="panel-footer text-center text-uppercase">
                        <a href="@dotaBlogFeedItem.Link">
                            Read More <small><i class="fa fa-external-link"></i></small>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            @if (Model.TopLiveLeagueGame != null)
            {
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h2 style="margin: 0; font-weight: 100; color: #333">Top Live Game</h2>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <a href="@Url.Action("live", "matches", new { id = Model.TopLiveLeagueGame.MatchId })" class="btn btn-xs btn-primary" style="margin-bottom: 5px">See game details</a>
                        </div>
                        <img class="shadow center-block" src="@Model.TopLiveLeagueGame.LeagueLogoPath" />
                        <div class="text-center">
                            <h3 style="margin-bottom: 0; font-weight: 100; color: #333">@Model.TopLiveLeagueGame.RadiantTeamName</h3>
                            <h4 style="margin: 0" class="text-uppercase">
                                @Model.TopLiveLeagueGame.RadiantKillCount <small>kills</small>
                                @if (Model.TopLiveLeagueGame.RadiantKillCount > Model.TopLiveLeagueGame.DireKillCount)
                                {
                                    <i class="fa fa-star text-warning"></i>
                                }
                            </h4>
                            <h4>&#8212; vs &#8212;</h4>
                            <h3 style="margin: 0; font-weight: 100; color: #333">@Model.TopLiveLeagueGame.DireTeamName</h3>
                            <h4 style="margin: 0" class="text-uppercase">
                                @Model.TopLiveLeagueGame.DireKillCount <small>kills</small>
                                @if (Model.TopLiveLeagueGame.DireKillCount > Model.TopLiveLeagueGame.RadiantKillCount)
                                {
                                    <i class="fa fa-star text-warning"></i>
                                }
                            </h4>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fa fa-desktop fa-fw"></i>
                                <span class="text-muted text-uppercase">Spec:</span>
                                @Model.TopLiveLeagueGame.SpectatorCount.ToString("N0")
                                <br />
                                <i class="fa fa-clock-o fa-fw"></i>
                                <span class="text-muted text-uppercase">Time:</span>
                                @Model.TopLiveLeagueGame.ElapsedTime
                            </div>
                            <div class="col-md-6 text-right">
                                <i class="fa fa-ticket fa-fw"></i>
                                <span class="text-muted text-uppercase">Game:</span>
                                @Model.TopLiveLeagueGame.GameNumber
                                <br />
                                <i class="fa fa-trophy fa-fw"></i>
                                <span class="text-muted text-uppercase">Series:</span>
                                @String.Format("{0} - {1}", Model.TopLiveLeagueGame.RadiantSeriesWins, Model.TopLiveLeagueGame.DireSeriesWins)
                                <br />
                                <i class="fa fa-list-alt fa-fw"></i>
                                <span class="text-muted text-uppercase">Best of:</span>
                                @Model.TopLiveLeagueGame.BestOf
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center text-uppercase">
                        <a href="@Url.Action("index", "matches")">See all live games</a>
                    </div>
                </div>
            }
            @if (Model.RandomHero != null)
            {
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h2 style="margin: 0; font-weight: 100; color: #333">@Model.RandomHero.Name</h2>
                    </div>
                    <div class="panel-body">
                        <a href="@Url.Action("hero", "heroes", new { id = Model.RandomHero.Id })">
                            <img class="shadow center-block" src="@Model.RandomHero.AvatarImagePath" />
                        </a>
                        <table class="table table-striped table-condensed" style="margin-top: 15px; margin-bottom: 0">
                            <tbody class="text-center text-uppercase">
                                <tr>
                                    <td>
                                        <img src="~/Content/icon_str.png" width="36" height="36" />
                                    </td>
                                    <td>
                                        <img src="~/Content/icon_agi.png" width="36" height="36" />
                                    </td>
                                    <td>
                                        <img src="~/Content/icon_int.png" width="36" height="36" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>@Model.RandomHero.BaseStrength</strong> <small class="text-muted">(+@Model.RandomHero.StrengthGain.ToString("F"))</small>
                                    </td>
                                    <td>
                                        <strong>@Model.RandomHero.BaseAgility</strong> <small class="text-muted">(+@Model.RandomHero.AgilityGain.ToString("F"))</small>
                                    </td>
                                    <td>
                                        <strong>@Model.RandomHero.BaseIntelligence</strong> <small class="text-muted">(+@Model.RandomHero.IntelligenceGain.ToString("F"))</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/Content/icon_atk.png" height="36" />
                                    </td>
                                    <td>
                                        <img src="~/Content/icon_speed.png" height="36" />
                                    </td>
                                    <td>
                                        <img src="~/Content/icon_def.png" height="36" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>@Model.RandomHero.BaseDamageMin - @Model.RandomHero.BaseDamageMax</strong>
                                    </td>
                                    <td>
                                        <strong>@Model.RandomHero.BaseMoveSpeed</strong>
                                    </td>
                                    <td>
                                        <strong>@Math.Round(Model.RandomHero.ArmorLevels[0], 2).ToString()</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped table-condensed" style="table-layout: fixed">
                            <tbody class="text-uppercase">
                                <tr>
                                    <td>
                                        <span>Hero ID</span>
                                    </td>
                                    <td>
                                        <strong>@Model.RandomHero.Id</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle">
                                        <span>Primary</span>
                                    </td>
                                    <td>
                                        @if (Model.RandomHero.PrimaryAttribute != null)
                                        {
                                            if (Model.RandomHero.PrimaryAttribute.Key == Steam.Models.DOTA2.DotaHeroPrimaryAttributeType.STRENGTH.Key)
                                            {
                                                <img alt="Strength" title="Strength" src="~/Content/icon_str.png" width="24" height="24" />
                                                <strong>STR</strong>
                                            }
                                            else if (Model.RandomHero.PrimaryAttribute.Key == Steam.Models.DOTA2.DotaHeroPrimaryAttributeType.AGILITY.Key)
                                            {
                                                <img alt="Agility" title="Agility" src="~/Content/icon_agi.png" width="24" height="24" />
                                                <strong>AGI</strong>
                                            }
                                            else if (Model.RandomHero.PrimaryAttribute.Key == Steam.Models.DOTA2.DotaHeroPrimaryAttributeType.INTELLECT.Key)
                                            {
                                                <img alt="Intelligence" title="Intelligence" src="~/Content/icon_int.png" width="24" height="24" />
                                                <strong>INT</strong>
                                            }
                                            else
                                            {
                                                <i class="fa fa-question-circle"></i>
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Attack Type</span>
                                    </td>
                                    <td>
                                        <strong>@Model.RandomHero.AttackType</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Attack Rate</span>
                                    </td>
                                    <td>
                                        <strong>@Model.RandomHero.AttackRate.ToString("F")</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Attack Range</span>
                                    </td>
                                    <td>
                                        <strong>@Model.RandomHero.AttackRange.ToString("F")</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Turn Rate</span>
                                    </td>
                                    <td>
                                        <strong>@Model.RandomHero.TurnRate.ToString("F")</strong>
                                    </td>
                                </tr>
                                @foreach (var role in Model.RandomHero.Roles)
                                {
                                    string color = String.Empty;
                                    int percent = 0;
                                    if (role.Level == "1")
                                    {
                                        color = "progress-bar-danger";
                                        percent = 33;
                                    }
                                    else if (role.Level == "2")
                                    {
                                        color = "progress-bar-warning";
                                        percent = 66;
                                    }
                                    else if (role.Level == "3")
                                    {
                                        color = "progress-bar-success";
                                        percent = 100;
                                    }
                                    <tr>
                                        <td>
                                            @role.Name
                                        </td>
                                        <td>
                                            <div class="progress" style="margin-bottom: 0">
                                                <div class="progress-bar @color" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" style="width: @String.Format("{0}%", percent);">
                                                    @role.Level
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <h3>Talents</h3>
                        <table class="table table-striped table-condensed" style="table-layout: fixed">
                            <tbody>
                                <tr>
                                    <td class="text-right">
                                        <small>@Model.RandomHero.TalentChoiceAtLevel10.HeroTalentChoice1.Name</small>
                                    </td>
                                    <td class="text-center" style="width: 20%">
                                        <span class="fa-stack fa-lg" aria-hidden="true">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-stack-1x fa-inverse">10</i>
                                        </span>
                                    </td>
                                    <td>
                                        <small>@Model.RandomHero.TalentChoiceAtLevel10.HeroTalentChoice2.Name</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        <small>@Model.RandomHero.TalentChoiceAtLevel15.HeroTalentChoice1.Name</small>
                                    </td>
                                    <td class="text-center" style="width: 20%">
                                        <span class="fa-stack fa-lg" aria-hidden="true">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-stack-1x fa-inverse">15</i>
                                        </span>
                                    </td>
                                    <td>
                                        <small>@Model.RandomHero.TalentChoiceAtLevel15.HeroTalentChoice2.Name</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        <small>@Model.RandomHero.TalentChoiceAtLevel20.HeroTalentChoice1.Name</small>
                                    </td>
                                    <td class="text-center" style="width: 20%">
                                        <span class="fa-stack fa-lg" aria-hidden="true">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-stack-1x fa-inverse">20</i>
                                        </span>
                                    </td>
                                    <td>
                                        <small>@Model.RandomHero.TalentChoiceAtLevel20.HeroTalentChoice2.Name</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        <small>@Model.RandomHero.TalentChoiceAtLevel25.HeroTalentChoice1.Name</small>
                                    </td>
                                    <td class="text-center" style="width: 20%">
                                        <span class="fa-stack fa-lg" aria-hidden="true">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-stack-1x fa-inverse">25</i>
                                        </span>
                                    </td>
                                    <td>
                                        <small>@Model.RandomHero.TalentChoiceAtLevel25.HeroTalentChoice2.Name</small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h3>Abilities</h3>
                        <div class="row">
                            <div class="col-xs-12">
                                @foreach (var ability in Model.RandomHero.Abilities)
                                {
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object shadow" src="@ability.AvatarImagePath" style="width: 64px" />
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">@ability.Name</h4>
                                            <span class="text-muted">@Html.Raw(ability.Description)</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center text-uppercase">
                        <a href="@Url.Action("index", "heroes", new { tab = "table" })">See All Heroes</a>
                    </div>
                </div>
            }
            @if (Model.RandomGameItems != null && Model.RandomGameItems.Count > 0)
            {
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h2 style="margin: 0; font-weight: 100; color: #333">Random Items</h2>
                    </div>
                    <ul class="list-group">
                        @foreach (var randomGameItem in Model.RandomGameItems)
                        {
                            Html.RenderPartial("_RandomGameItemPartial", randomGameItem);
                        }
                    </ul>
                    <div class="panel-footer text-center text-uppercase">
                        <a href="@Url.Action("index", "items")">See All Items</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>