@model DotaDb.ViewModels.HomeViewModel

@{
    Layout = "~/Views/Shared/_LayoutSplash.cshtml";
    ViewBag.Title = "Dota Database";
    ViewBag.ShowTopAlertInfo = false;
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 style="margin: 0">You're at the Dota Database!</h2>
        <p class="lead">
            I created this site to help visualize and understand various in game and match data related to Dota 2. This tool will frequently update its data
            directly from Dota 2 files and the Steam Web API to give you the most up to date information. Find my contact information
            in the footer and let me know if you have any neat ideas to improve or enhance this site.
        </p>
    </div>
</div>

<div style="background: url('/Content/backgrounds/DireAncientBackground.jpg') no-repeat scroll center center / cover;">
    <div class="full-screen-bg-tint">
        <div class="row text-center home-stats" style="margin-bottom: 30px; padding: 30px">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="row">
                    <div class="col-md-4">
                        <h2>@Model.InGamePlayerCount.ToString("N0")</h2>
                        <p class="text-muted text-uppercase">In Game Players</p>
                    </div>
                    <div class="col-md-4">
                        <h2>@Model.DailyPeakPlayerCount.ToString("N0")</h2>
                        <p class="text-muted text-uppercase">Peak Players Today</p>
                    </div>
                    <div class="col-md-4">
                        <h2>@Model.AllTimePeakPlayerCount.ToString("N0")</h2>
                        <p class="text-muted text-uppercase">All-time Peak Players</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h2>@Model.HeroCount.ToString("N0")</h2>
                        <p class="text-muted text-uppercase">Heroes</p>
                    </div>
                    <div class="col-md-4">
                        <h2>@Model.InGameItemCount.ToString("N0")</h2>
                        <p class="text-muted text-uppercase">In Game Items</p>
                    </div>
                    <div class="col-md-4">
                        <h2>@Model.ShopItemCount.ToString("N0")</h2>
                        <p class="text-muted text-uppercase">Cosmetic &amp; Shop Items</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h2>@Model.LeagueCount.ToString("N0")</h2>
                        <p class="text-muted text-uppercase">Leagues</p>
                    </div>
                    <div class="col-md-4">
                        <h2>@Model.HeroAbilityCount.ToString("N0")</h2>
                        <p class="text-muted text-uppercase">Hero Abilities</p>
                    </div>
                    <div class="col-md-4">
                        <h2>@Model.LiveLeagueGameCount</h2>
                        <p class="text-muted text-uppercase">Live League Games</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="col-xs-12 text-center">
            <h1 style="font-weight: 100">Recent Matches</h1>
            <hr style="margin: 5px 0" />
        </div>
    </div>*@
<div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
        <h1 style="font-weight: 100">Top Live League Games</h1>
        <hr style="margin: 5px 0" />
    </div>
    <div class="col-md-10 col-md-offset-1">
        @foreach (var liveLeagueGame in Model.LiveLeagueGames)
        {
            <div class="well well-sm" style="padding: 15px;">
                <div class="row">
                    <div class="col-md-3">
                        <h3 style="font-weight: 100; margin: 0">@liveLeagueGame.LeagueName</h3>
                        <div class="thumbnail" style="margin: 0; border: 0; width: 150px">
                            <img src="@liveLeagueGame.LeagueLogoPath" class="shadow" />
                        </div>
                        <p style="margin-top: 10px; margin-bottom: 0">
                            <i class="fa fa-desktop fa-fw"></i>
                            <span class="text-muted text-uppercase">Spectators:</span>
                            @liveLeagueGame.SpectatorCount.ToString("N0")
                            <br />
                            <i class="fa fa-ticket fa-fw"></i>
                            <span class="text-muted text-uppercase">Game:</span>
                            @liveLeagueGame.GameNumber
                            <br />
                            <i class="fa fa-list-alt fa-fw"></i>
                            <span class="text-muted text-uppercase">Best of:</span>
                            @liveLeagueGame.BestOf
                            <br />
                            <i class="fa fa-trophy fa-fw"></i>
                            <span class="text-muted text-uppercase">Series:</span>
                            @String.Format("{0} (radiant) - {1} (dire)", Model.RadiantSeriesWins, Model.DireSeriesWins)
                        </p>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <h3 style="font-weight: 100; margin: 0">@liveLeagueGame.RadiantTeamName</h3>
                                <hr style="margin: 5px 0" />
                                @if (!String.IsNullOrEmpty(liveLeagueGame.RadiantTeamLogo))
                                {
                                    <img src="@liveLeagueGame.RadiantTeamLogo" width="64" height="64" class="shadow" />
                                }
                            </div>
                            <div class="col-md-4 text-center">
                                <h4 style="font-weight: 100; margin: 0">
                                    <i class="fa fa-clock-o"></i>
                                    <span class="text-muted text-uppercase">Elapsed:</span>
                                    @liveLeagueGame.ElapsedTime
                                </h4>
                            </div>
                            <div class="col-md-4 text-right">
                                <h3 style="font-weight: 100; margin: 0">@liveLeagueGame.DireTeamName</h3>
                                <hr style="margin: 5px 0" />
                                @if (!String.IsNullOrEmpty(liveLeagueGame.DireTeamLogo))
                                {
                                    <img src="@liveLeagueGame.DireTeamLogo" width="64" height="64" class="shadow" />
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h3 style="margin: 5px 0">@liveLeagueGame.RadiantKillCount <small class="text-muted text-uppercase">kills</small></h3>
                                @foreach (var player in liveLeagueGame.RadiantPlayers)
                                {
                                    <div class="media" style="margin-top: 5px">
                                        <div class="media-left">
                                            <div class="thumbnail" style="margin: 0; border: 0; padding: 0; width: 57px;">
                                                @if (String.IsNullOrEmpty(player.HeroAvatarFileName))
                                                {
                                                    <img src="@Url.Content("~/Content/icons/heroes/base_lg.png")" class="shadow" />
                                                }
                                                else
                                                {
                                                    <img src="@String.Format("http://cdn.dota2.com/apps/dota2/images/heroes/{0}_lg.png", player.HeroAvatarFileName)" class="shadow" />
                                                }
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading" style="margin: 0">
                                                @player.PlayerName
                                            </h5>
                                            <span class="text-muted pull-right">@String.Format("({0}-{1}-{2})", player.KillCount, player.DeathCount, player.AssistCount)</span>
                                            <small class="text-uppercase text-muted">@player.HeroName</small>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-md-4 text-center" style="padding: 0">
                                <div style="position: relative; width: 90%" class="center-block">
                                    <img src="~/Content/dota_minimap_256.jpg" style="width: 100%" />
                                    @foreach (var player in liveLeagueGame.DirePlayers)
                                    {
                                        if (!String.IsNullOrEmpty(player.MinimapIconFilePath))
                                        {
                                            <img src="@player.MinimapIconFilePath" class="minimap-icon" style="bottom: @(player.PositionYPercent)%; left: @(player.PositionXPercent)%" />
                                        }
                                    }
                                    @foreach (var player in liveLeagueGame.RadiantPlayers)
                                    {
                                        if (!String.IsNullOrEmpty(player.MinimapIconFilePath))
                                        {
                                            <img src="@player.MinimapIconFilePath" class="minimap-icon" style="bottom: @(player.PositionYPercent)%; left: @(player.PositionXPercent)%" />
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-md-4 text-right">
                                <h3 style="margin: 5px 0">@liveLeagueGame.DireKillCount <small class="text-muted text-uppercase">kills</small></h3>
                                @foreach (var player in liveLeagueGame.DirePlayers)
                                {
                                    <div class="media" style="margin-top: 5px">
                                        <div class="media-body">
                                            <h5 class="media-heading" style="margin: 0">
                                                @player.PlayerName
                                            </h5>
                                            <span class="text-muted pull-left">@String.Format("({0}-{1}-{2})", player.KillCount, player.DeathCount, player.AssistCount)</span>
                                            <small class="text-uppercase text-muted">@player.HeroName</small>
                                        </div>
                                        <div class="media-right">
                                            <div class="thumbnail" style="margin: 0; border: 0; padding: 0; width: 57px;">
                                                @if (String.IsNullOrEmpty(player.HeroAvatarFileName))
                                                {
                                                    <img src="@Url.Content("~/Content/icons/heroes/base_lg.png")" class="shadow" />
                                                }
                                                else
                                                {
                                                    <img src="@String.Format("http://cdn.dota2.com/apps/dota2/images/heroes/{0}_lg.png", player.HeroAvatarFileName)" class="shadow" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>