@model DotaDb.ViewModels.HeroItemBuildViewModel
@using SourceSchemaParser.Dota2;
@{
    Layout = "~/Views/Heroes/_HeroLayout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-body">
        @if (ViewBag.ErrorMessage != null && !String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger">
                @ViewBag.ErrorMessage
            </div>
        }
        @if (Model != null && Model.ItemGroups != null && Model.ItemGroups.Count > 0)
        {
            <h3 style="margin-top: 0">@Model.Title</h3>
            <p class="text-uppercase">
                <span class="text-muted">Guide Author:</span>
                @Model.Author
            </p>
            foreach (var itemGroup in Model.ItemGroups)
            {
                <p class="text-uppercase" style="margin-bottom: 3px">@itemGroup.Title</p>
                <div class="row text-center" style="margin-bottom: 10px">
                    @foreach (var item in itemGroup.Items)
                    {
                        <div class="col-lg-1">
                            <div class="thumbnail" style="margin: 0 0 5px 0; padding: 0; border: 0" title="@item.Name">
                                <img src="@item.IconPath" class="shadow" />
                            </div>
                            @if (item.Quantity > 1)
                            {
                                <span class="label label-default">x @item.Quantity</span>
                            }
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>