@model DotaDb.ViewModels.HeroSelectViewModel

<div class="alert alert-info">
    <i class="fa fa-info-circle"></i> This list of heroes is generated dynamically from Dota 2 files. Because the developers are known for entering data about unreleased heroes, you may see placeholder images for those unreleased heroes.
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <img src="~/Content/icon_str.png" width="24" height="24" />
            Strength
        </h4>
    </div>
    <div class="panel-body hero-select-list" style="padding: 0">
        <div class="row" style="margin: 0">
            @foreach (var hero in Model.StrengthHeroes)
            {
                <div class="col-xs-3 col-sm-2 col-md-1" style="padding: 1px">
                    <div class="thumbnail" style="margin-bottom: 0; padding: 0; border: 0;">
                        <a href="@Url.Action("hero", "heroes", new { id = hero.Url.ToLower() })">
                            <img src="@hero.AvatarImagePath" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <img src="~/Content/icon_agi.png" width="24" height="24" />
            Agility
        </h4>
    </div>
    <div class="panel-body hero-select-list" style="padding: 0">
        <div class="row" style="margin: 0">
            @foreach (var hero in Model.AgilityHeroes)
            {
                <div class="col-xs-3 col-sm-2 col-md-1" style="padding: 1px">
                    <div class="thumbnail" style="margin-bottom: 0; padding: 0; border: 0;">
                        <a href="@Url.Action("hero", "heroes", new { id = hero.Url.ToLower() })">
                            <img src="@hero.AvatarImagePath" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <img src="~/Content/icon_int.png" width="24" height="24" />
            Intelligence
        </h4>
    </div>
    <div class="panel-body hero-select-list" style="padding: 0">
        <div class="row" style="margin: 0">
            @foreach (var hero in Model.IntelligenceHeroes)
            {
                <div class="col-xs-3 col-sm-2 col-md-1" style="padding: 1px">
                    <div class="thumbnail" style="margin-bottom: 0; padding: 0; border: 0;">
                        <a href="@Url.Action("hero", "heroes", new { id = hero.Url.ToLower() })">
                            <img src="@hero.AvatarImagePath" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
