@model DotaDb.ViewModels.HeroSelectViewModel

@{
    ViewBag.Title = "All Heroes";
    ViewBag.Description = String.Format("There are currently {0} agility heroes, {1} intelligence heroes, and {2} strength heroes in Dota 2.", Model.AgilityHeroes.Count, Model.IntelligenceHeroes.Count, Model.StrengthHeroes.Count);
    ViewBag.HeaderImageName = "bg5_fade.jpg";
    ViewBag.HeaderText = "Heroes (Grid)";
}

@*<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("index", "home")">Home</a></li>
            <li class="active">Heroes (Grid)</li>
        </ol>
    </div>
</div>*@

<div class="row" style="margin-top: 5px; margin-bottom: 5px">
    <div class="col-md-8 col-md-offset-2">
        @if (!HttpContext.Current.IsDebuggingEnabled)
        {
            <!-- top heroes (dotadb) -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1823005717277864"
                 data-ad-slot="1398785433"
                 data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
        }
        else
        {
            <div style="width: 610px; margin: 0 auto;">
                <img src="https://placehold.it/600x90" />
            </div>
        }
    </div>
</div>

<ul class="nav nav-pills" style="margin-bottom: 10px">
    <li role="presentation" class="active">
        <a href="@Url.Action("index", new { tab = "grid" })">
            <i class="fa fa-th"></i> Grid
        </a>
    </li>
    <li role="presentation">
        <a href="@Url.Action("index", new { tab = "table" })">
            <i class="fa fa-table"></i> Table
        </a>
    </li>
</ul>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <img src="~/Content/icon_str.png" width="24" height="24" />
            Strength
        </h4>
    </div>
    <div class="panel-body hero-select-list" style="padding: 0">
        <div class="row" style="margin: 0">
            @foreach (var hero in Model.StrengthHeroes)
            {
                <div class="col-xs-3 col-sm-2 col-md-1" style="padding: 1px">
                    <div class="thumbnail" style="margin-bottom: 0; padding: 0; border: 0;">
                        <a href="@Url.Action("hero", "heroes", new { id = hero.Id, heroName = hero.Url })" title="@hero.Name">
                            <img src="@hero.AvatarImagePath" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <img src="~/Content/icon_agi.png" width="24" height="24" />
            Agility
        </h4>
    </div>
    <div class="panel-body hero-select-list" style="padding: 0">
        <div class="row" style="margin: 0">
            @foreach (var hero in Model.AgilityHeroes)
            {
                <div class="col-xs-3 col-sm-2 col-md-1" style="padding: 1px">
                    <div class="thumbnail" style="margin-bottom: 0; padding: 0; border: 0;">
                        <a href="@Url.Action("hero", "heroes", new { id = hero.Id, heroName = hero.Url.ToLower() })" title="@hero.Name">
                            <img src="@hero.AvatarImagePath" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <img src="~/Content/icon_int.png" width="24" height="24" />
            Intelligence
        </h4>
    </div>
    <div class="panel-body hero-select-list" style="padding: 0">
        <div class="row" style="margin: 0">
            @foreach (var hero in Model.IntelligenceHeroes)
            {
                <div class="col-xs-3 col-sm-2 col-md-1" style="padding: 1px">
                    <div class="thumbnail" style="margin-bottom: 0; padding: 0; border: 0;">
                        <a href="@Url.Action("hero", "heroes", new { id = hero.Id, heroName = hero.Url.ToLower() })" title="@hero.Name">
                            <img src="@hero.AvatarImagePath" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="row" style="margin-top: 15px">
    <div class="col-md-8 col-md-offset-2">
        @if (!HttpContext.Current.IsDebuggingEnabled)
        {
            <!-- bottom heroes (dotadb) -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1823005717277864"
                 data-ad-slot="8642850639"
                 data-ad-format="auto"></ins>
            <script>
(adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        }
        else
        {
            <div style="width: 610px; margin: 5px auto;">
                <img src="https://placehold.it/600x90" />
            </div>
        }
    </div>
</div>

@section scripts {
    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    }
}
