@model IReadOnlyCollection<DotaDb.ViewModels.ItemAutographViewModel>

@{
    ViewBag.Title = "Item Autographs";
    ViewBag.Description = "There are currently " + Model.Count + " autograph items in Dota 2.";
}

@*@Html.Partial("_BreadcrumbMenuPartial", "Autographs")*@

<div class="row" style="margin-bottom: 15px">
    <div class="col-md-8 col-md-offset-2">
        @if (!HttpContext.Current.IsDebuggingEnabled)
        {
            <!-- top autographs (dotadb) -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1823005717277864"
                 data-ad-slot="5356150232"
                 data-ad-format="auto"></ins>
            <script>
(adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        }
        else
        {
            <div style="width: 610px; margin: 5px auto;">
                <img src="https://placehold.it/600x90" />
            </div>
        }
    </div>
</div>

@Html.Partial("_TabMenuPartial", "autographs")

<div class="row autograph-list">
    @foreach (var autograph in Model)
    {
        <div class="col-md-4" style="padding: 4px;">
            <div class="well well-sm" style="padding: 5px; margin-bottom: 0">
                <div class="media" style="margin-bottom: 0">
                    <div class="media-left">
                        <div class="thumbnail" style="margin: 0; border: 0; width: 125px">
                            <img class="shadow" src="@autograph.IconPath" alt="No icon available">
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">@autograph.Name</h4>
                        @if (!String.IsNullOrEmpty(autograph.Autograph))
                        {
                            <p>
                                <small class="text-uppercase">
                                    <span class="text-muted">Autograph:</span>
                                    @autograph.Autograph
                                </small>
                            </p>
                        }
                    </div>
                </div>
                @if (autograph.WorkshopLink.HasValue)
                {
                    <p>
                        <small class="text-uppercase">
                            <span class="text-muted">Workshop:</span>
                            @autograph.WorkshopLink
                        </small>
                    </p>
                }
                @if (!String.IsNullOrEmpty(autograph.Modifier))
                {
                    <p>
                        <small class="text-uppercase">
                            <span class="text-muted">Modifier:</span>
                            @autograph.Modifier
                        </small>
                    </p>
                }
            </div>
        </div>
    }
</div>

<div class="row" style="margin-bottom: 15px">
    <div class="col-md-8 col-md-offset-2">
        @if (!HttpContext.Current.IsDebuggingEnabled)
        {
            <!-- bottom autographs (dotadb) -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1823005717277864"
                 data-ad-slot="6832883438"
                 data-ad-format="auto"></ins>
            <script>
(adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        }
        else
        {
            <div style="width: 610px; margin: 5px auto;">
                <img src="https://placehold.it/600x90" />
            </div>
        }
    </div>
</div>

@section scripts {
    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    }
}