@model DotaDb.ViewModels.InStoreViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Items in the Store";
}

<div class="row">
    <div class="col-xs-12" style="padding: 4px">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("index", "home")">Home</a></li>
            <li class="active">In Store Items</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="padding: 4px">
        <ul class="nav nav-pills" style="margin-bottom: 10px">
            <li role="presentation">
                <a href="@Url.Action("index", new { tab = "ingame" })">
                    <i class="fa fa-ticket"></i> In Game
                </a>
            </li>
            <li role="presentation" class="active">
                <a href="@Url.Action("index", new { tab = "instore" })">
                    <i class="fa fa-dollar"></i> In Store
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="list-group">
                @foreach (var prefab in Model.Prefabs)
                {
                    <a class="list-group-item text-uppercase" href="#">@prefab.Name</a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            @foreach (var item in Model.Items)
            {
                <div class="col-md-6 instore-item-list">
                    <div class="well well-sm" style="padding: 5px; line-height: 15px">
                        <div class="media">
                            <div class="media-left">
                                <div class="thumbnail" style="padding: 0; margin: 0; border: 0; width: 125px">
                                    <img class="media-object" src="@item.IconPath" alt="No icon available">
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">@item.Name</h4>
                                @if (item.Price.HasValue && item.Price.Value > 0)
                                {
                                    <a href="@item.StorePath">
                                        View in Dota 2 Store
                                    </a>
                                }
                                <i class="fa fa-external-link-square"></i>
                                <br />
                                <span class="text-muted">@item.Description</span>
                            </div>
                        </div>
                        @if (!String.IsNullOrEmpty(item.PriceBucket))
                        {
                            <p>
                                <small class="text-uppercase">
                                    <span class="text-muted">Price Bucket:</span>
                                    @item.PriceBucket
                                </small>
                            </p>
                        }
                        @if (!String.IsNullOrEmpty(item.PriceCategoryTags))
                        {
                            <p>
                                <small class="text-uppercase">
                                    <span class="text-muted">Category Tags:</span>
                                    @item.PriceCategoryTags
                                </small>
                            </p>
                        }
                        @if (!String.IsNullOrEmpty(item.PriceClass))
                        {
                            <p>
                                <small class="text-uppercase">
                                    <span class="text-muted">Price Class:</span>
                                    @item.PriceClass
                                </small>
                            </p>
                        }
                        @if (!String.IsNullOrEmpty(item.PriceDate))
                        {
                            <p>
                                <small class="text-uppercase">
                                    <span class="text-muted">Price Date:</span>
                                    @item.PriceDate
                                </small>
                            </p>
                        }
                        @if (item.Price.HasValue)
                        {
                            <p>
                                <small class="text-uppercase">
                                    <span class="text-muted">Price:</span>
                                    @item.Price.Value
                                </small>
                            </p>
                        }
                        @if (item.CreationDate.HasValue)
                        {
                            <p>
                                <small class="text-uppercase">
                                    <span class="text-muted">Creation Date:</span>
                                    @item.CreationDate.Value.ToShortDateString()
                                </small>
                            </p>
                        }
                        @if (item.ExpirationDate.HasValue)
                        {
                            <p>
                                <small class="text-uppercase">
                                    <span class="text-muted">Expiration Date:</span>
                                    @item.ExpirationDate.Value.ToShortDateString()
                                </small>
                            </p>
                        }
                    </div>
                </div>
            }
            <div class="col-md-12">
                @if (Model.Items.PageCount > 1)
                {
                    @Html.PagedListPager(Model.Items, page => Url.Action("index", new { tab = "instore", page }))
                }
            </div>
        </div>
    </div>
</div>