@model DotaDb.ViewModels.LiveLeagueGameDetailViewModel

@{
    Layout = "~/Views/Shared/_LayoutSplash.cshtml";
    ViewBag.Title = Model.RadiantTeamName + " vs. " + Model.DireTeamName;
    ViewBag.Description = "This is a Dota 2 league match between two teams in the " + Model.LeagueTier + " tier. Click to see match details.";
    ViewBag.ImageUrl = Model.LeagueLogoPath;
    ViewBag.RefreshPageTime = 20;
}

<div class="container">
    <div class="live-league-game" style="margin-top: 15px">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <h3 class="live-league-game-match-id">Match @Model.MatchId</h3>
                                <h4 class="text-success text-uppercase live-league-game-live-now">
                                    <i class="fa fa-exclamation-circle"></i> Live Now
                                </h4>
                            </div>
                            <div class="col-xs-9">
                                <div class="pull-right">
                                    <dl class="live-league-game-header-item">
                                        <dt>@Model.StreamDelay</dt>
                                        <dd class="text-uppercase">Stream Delay</dd>
                                    </dl>
                                    <dl class="live-league-game-header-item">
                                        <dt>@Model.SpectatorCount.ToString("#,#")</dt>
                                        <dd class="text-uppercase">Watching</dd>
                                    </dl>
                                    <dl class="live-league-game-header-item">
                                        <dt>@Model.TimeStarted.ToString("MMM dd, HH:mm") UTC</dt>
                                        <dd class="text-uppercase">Match Started</dd>
                                    </dl>
                                    <dl style="display: inline-block;">
                                        <dt>@Model.ElapsedTimeDisplay</dt>
                                        <dd class="text-uppercase">Duration</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="@Model.LeagueLogoPath" width="125" alt="@Model.LeagueName" />
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading text-info"><strong>@Model.LeagueName</strong></h4>
                                        <span class="text-uppercase">@Model.LeagueTier</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="pull-right">
                                    <dl class="dl-horizontal live-league-game-series-details">
                                        <dt class="text-info live-league-game-series-details-list-item">
                                            Best Of
                                        </dt>
                                        <dd class="text-info live-league-game-series-details-list-item">
                                            @Model.BestOf
                                        </dd>
                                        <dt class="text-info live-league-game-series-details-list-item">
                                            Game #
                                        </dt>
                                        <dd class="text-info live-league-game-series-details-list-item">
                                            @Model.GameNumber
                                        </dd>
                                        <dt>
                                            @Model.RadiantTeamName
                                            (Radiant)
                                        </dt>
                                        <dd>
                                            <small class="text-muted">@Model.RadiantSeriesWins</small>
                                        </dd>
                                        <dt>
                                            @Model.DireTeamName
                                            (Dire)
                                        </dt>
                                        <dd>
                                            <small class="text-muted">@Model.DireSeriesWins</small>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="text-uppercase panel-title">@Model.RadiantTeamName &middot; @Model.RadiantKillCount</h3>
                    </div>
                    <table id="table-radiant-stats" class="table table-condensed table-striped" data-toggle="table">
                        <thead>
                            <tr>
                                <th>Player</th>
                                <th data-sortable="true">Level</th>
                                <th data-sortable="true">Worth</th>
                                <th data-sortable="true">Gold</th>
                                <th data-sortable="true">XP</th>
                                <th data-sortable="true">K</th>
                                <th data-sortable="true">D</th>
                                <th data-sortable="true">A</th>
                                <th data-sortable="true">GPM</th>
                                <th data-sortable="true">XPM</th>
                                <th data-sortable="true">LH</th>
                                <th data-sortable="true">DN</th>
                                <th data-sortable="false">Items</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var player in Model.RadiantPlayers)
                            {
                                <tr>
                                    @Html.Partial("_PlayerDetailTableRowPartial", player)
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        @for (int i = 0; i < Model.RadiantPickedHeroes.Count; i++)
                        {
                            var hero = Model.RadiantPickedHeroes[i];
                            <div style="display: inline-block">
                                <a href="@Url.Action("hero", "heroes", new { id = hero.Id, heroName = hero.Url })" title="@hero.Name">
                                    <img src="@hero.AvatarImagePath" width="52" />
                                </a>
                                <br />
                                <div class="text-uppercase text-center live-league-game-pick-ban-box">
                                    <i class="fa fa-check text-success"></i> Pick
                                </div>
                            </div>
                        }
                        @for (int i = 0; i < Model.RadiantBannedHeroes.Count; i++)
                        {
                            var hero = Model.RadiantBannedHeroes[i];
                            <div style="display: inline-block; margin-right: 0px;">
                                <a href="@Url.Action("hero", "heroes", new { id = hero.Id, heroName = hero.Url })" title="@hero.Name">
                                    <img src="@hero.AvatarImagePath" width="52" class="live-league-game-ban-image" />
                                </a>
                                <br />
                                <div class="text-uppercase text-center live-league-game-pick-ban-box">
                                    <i class="fa fa-remove text-danger"></i> Ban
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="text-uppercase panel-title">@Model.DireTeamName &middot; @Model.DireKillCount</h3>
                    </div>
                    <table id="table-dire-stats" class="table table-condensed table-striped" data-toggle="table">
                        <thead>
                            <tr>
                                <th>Player</th>
                                <th data-sortable="true">Level</th>
                                <th data-sortable="true">Worth</th>
                                <th data-sortable="true">Gold</th>
                                <th data-sortable="true">XP</th>
                                <th data-sortable="true">K</th>
                                <th data-sortable="true">D</th>
                                <th data-sortable="true">A</th>
                                <th data-sortable="true">GPM</th>
                                <th data-sortable="true">XPM</th>
                                <th data-sortable="true">LH</th>
                                <th data-sortable="true">DN</th>
                                <th data-sortable="false">Items</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var player in Model.DirePlayers)
                            {
                                <tr>
                                    @Html.Partial("_PlayerDetailTableRowPartial", player)
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        @for (int i = 0; i < Model.DirePickedHeroes.Count; i++)
                        {
                            var hero = Model.DirePickedHeroes[i];
                            <div style="display: inline-block">
                                <a href="@Url.Action("hero", "heroes", new { id = hero.Id, heroName = hero.Url })" title="@hero.Name">
                                    <img src="@hero.AvatarImagePath" width="52" />
                                </a>
                                <br />
                                <div class="text-uppercase text-center live-league-game-pick-ban-box">
                                    <i class="fa fa-check text-success"></i> Pick
                                </div>
                            </div>
                        }
                        @for (int i = 0; i < Model.DireBannedHeroes.Count; i++)
                        {
                            var hero = Model.DireBannedHeroes[i];
                            <div style="display: inline-block; margin-right: 0px;">
                                <a href="@Url.Action("hero", "heroes", new { id = hero.Id, heroName = hero.Url })" title="@hero.Name">
                                    <img src="@hero.AvatarImagePath" width="52" class="live-league-game-ban-image" />
                                </a>
                                <br />
                                <div class="text-uppercase text-center live-league-game-pick-ban-box">
                                    <i class="fa fa-remove text-danger"></i> Ban
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2 text-center">
            <div class="center-block minimap-container">
                <img src="~/Content/dota_minimap_512.jpg" style="width: 100%" />
                @foreach (var player in Model.DirePlayers)
            {
                if (!String.IsNullOrEmpty(player.MinimapIconFilePath))
                {
                        <img src="@player.MinimapIconFilePath" class="minimap-icon" style="bottom: @(player.PositionYPercent)%; left: @(player.PositionXPercent)%" />
                        <div class="minimap-icon-circle large dire" style="bottom: @(player.PositionYPercent)%; left: @(player.PositionXPercent)%"></div>
                    }
                }
                @foreach (var player in Model.RadiantPlayers)
            {
                if (!String.IsNullOrEmpty(player.MinimapIconFilePath))
                {
                        <img src="@player.MinimapIconFilePath" class="minimap-icon" style="bottom: @(player.PositionYPercent)%; left: @(player.PositionXPercent)%" />
                        <div class="minimap-icon-circle large radiant" style="bottom: @(player.PositionYPercent)%; left: @(player.PositionXPercent)%"></div>
                    }
                }
                @Html.Partial("_RadiantTowerMinimapIconsPartial", Model.RadiantTowerStates, new ViewDataDictionary())
                @Html.Partial("_DireTowerMinimapIconsPartial", Model.DireTowerStates, new ViewDataDictionary())
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h5 class="text-uppercase text-muted" style="margin-top: 0">Duration: <strong>@Model.ElapsedTimeDisplay</strong></h5>
                        <h5 class="text-uppercase roshan-status">
                            <span class="text-muted">Roshan:</span>
                            @if (Model.IsRoshanAlive)
                            {
                                <span class="text-success">
                                    <i class="fa fa-check"></i>
                                    Alive
                                </span>
                            }
                            else
                            {
                                <span class="text-danger">
                                    <i class="fa fa-remove"></i>
                                    Dead
                                    <span class="text-lowercase">(@Model.RoshanRespawnTimer)</span>
                                </span>
                            }
                        </h5>
                    </div>
                    <hr style="margin: 5px 0" />
                    <h5 class="text-uppercase text-muted no-margin">
                        Total Worth:
                    </h5>
                    <div class="progress" style="margin-bottom: 5px">
                        <div class="progress-bar progress-bar-success" style="width: @Model.RadiantTotalWorthPercent%">
                            <span class="sr-only">@String.Format("{0}%", Model.RadiantTotalWorthPercent)</span>
                            @Model.RadiantTotalWorth.ToString("N0")
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: @Model.DireTotalWorthPercent%">
                            <span class="sr-only">@String.Format("{0}%", Model.DireTotalWorthPercent)</span>
                            @Model.DireTotalWorth.ToString("N0")
                        </div>
                    </div>
                    <h5 class="text-uppercase text-muted no-margin">
                        Total XP:
                    </h5>
                    <div class="progress" style="margin-bottom: 0">
                        <div class="progress-bar progress-bar-success" style="width: @Model.RadiantTotalExperiencePercent%">
                            <span class="sr-only">@String.Format("{0}%", Model.RadiantTotalExperiencePercent)</span>
                            @Model.RadiantTotalExperience.ToString("N0")
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: @Model.DireTotalExperiencePercent%">
                            <span class="sr-only">@String.Format("{0}%", Model.DireTotalExperiencePercent)</span>
                            @Model.DireTotalExperience.ToString("N0")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap-table")
}