@using PagedList;
@using PagedList.Mvc;
@model IPagedList<DotaDb.ViewModels.LeagueViewModel>


<div class="row league-list">
    @foreach (var league in Model)
    {
        <div class="col-md-6" style="padding: 4px">
            <div class="well well-sm" style="padding: 5px; margin-bottom: 0">
                <div class="media">
                    <div class="media-left">
                        @if (!String.IsNullOrEmpty(league.LogoFilePath))
                        {
                            <a href="@league.Url">
                                <div class="thumbnail" style="margin: 0; border: 0; width: 200px" title="@league.Name">
                                    <img src="@league.LogoFilePath" class="shadow" />
                                </div>
                            </a>
                        }
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            @league.Name
                        </h4>
                        <p class="text-muted">@league.Description</p>
                        <div class="text-uppercase">
                            @if (!String.IsNullOrEmpty(league.Tier))
                            {
                                <p>
                                    <small class="text-muted">Tier:</small>
                                    <small>@league.Tier</small>
                                </p>
                            }
                            @if (!String.IsNullOrEmpty(league.Location))
                            {
                                <p>
                                    <small class="text-muted">Location:</small>
                                    <small>@league.Location</small>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (Model.PageCount > 1)
{
    @Html.PagedListPager(Model, page => Url.Action("index", new { page }))
}