@model DotaDb.ViewModels.LiveLeagueGamePlayerViewModel

<td>
    <img src="@Model.MinimapIconFilePath" width="24" height="24" />
    @Model.PlayerName
</td>
<td>@Model.HeroName</td>
<td>@Model.Level</td>
<td>@Model.NetWorth</td>
<td>@Model.Gold</td>
<td>@Model.XP</td>
<td>@Model.KillCount</td>
<td>@Model.DeathCount</td>
<td>@Model.AssistCount</td>
<td>@Model.GoldPerMinute</td>
<td>@Model.XpPerMinute</td>
<td>@Model.LastHits</td>
<td>@Model.Denies</td>