@using PagedList;
@using PagedList.Mvc;
@model IPagedList<DotaDb.ViewModels.LiveLeagueGameListItemViewModel>

@{
    ViewBag.Title = "Matches";
    ViewBag.Description = "There are currently " + Model.Count + " live league games. This listing will provide an overview of the status of each game.";
    ViewBag.HeaderImageName = "bg1_fade.jpg";
    ViewBag.HeaderText = "Live League Games";
}

<div class="panel panel-default">
    <table class="table table-condensed table-striped live-league-game-list">
        <thead>
            <tr>
                <th colspan="2">League</th>
                <th>Match</th>
                <th>Radiant</th>
                <th>Dire</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model)
            {
                <tr>
                    <td>
                        @if (!String.IsNullOrWhiteSpace(game.LeagueLogoPath))
                        {
                            <img class="media-object" src="@game.LeagueLogoPath" alt="@game.LeagueName" width="75">
                        }
                        else
                        {
                            <img class="media-object" src="http://placehold.it/75x50" />
                        }
                    </td>
                    <td style="vertical-align: middle">
                        <h4 style="margin-top: 0; margin-bottom: 5px">
                            @if (!String.IsNullOrWhiteSpace(game.LeagueName))
                            {
                                @game.LeagueName
                            }
                            else
                            {
                                @:Unknown
                            }
                        </h4>
                        @if (!String.IsNullOrWhiteSpace(@game.LeagueTier))
                        {
                            <small>@game.LeagueTier</small>
                        }
                    </td>
                    <td style="vertical-align: middle">
                        <a href="@Url.Action("live", "matches", new { id = game.MatchId })">@game.MatchId</a>
                        <br />
                        <small>@game.SpectatorCount spectators</small>
                    </td>
                    <td>
                        <h4 class="text-success" style="margin-top: 0; margin-bottom: 5px">
                            @game.RadiantTeamName
                            <small>@game.RadiantKillCount kills</small>
                        </h4>
                        @foreach (var player in game.RadiantPlayers)
                        {
                            if (!String.IsNullOrWhiteSpace(player.MinimapIconFilePath))
                            {
                                <img src="@player.MinimapIconFilePath" title="@player.HeroName" width="28" />
                            }
                            else
                            {
                                <img src="http://placehold.it/32x32" title="Unknown" />
                            }
                        }
                    </td>
                    <td>
                        <h4 class="text-danger" style="margin-top: 0; margin-bottom: 5px">
                            @game.DireTeamName
                            <small>@game.DireKillCount kills</small>
                        </h4>
                        @foreach (var player in game.DirePlayers)
                        {
                            if (!String.IsNullOrWhiteSpace(player.MinimapIconFilePath))
                            {
                                <img src="@player.MinimapIconFilePath" title="@player.HeroName" width="28" />
                            }
                            else
                            {
                                <img src="http://placehold.it/32x32" title="Unknown" />
                            }
                        }
                    </td>
                    <td style="vertical-align: middle">
                        <span class="label label-default" style="font-size: 12px; font-weight: 300">@game.ElapsedTime</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model.PageCount > 1)
{
    @Html.PagedListPager(Model, page => Url.Action("index", new { page }))
}